@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Pick a problem to play with!</p>
    <hr />
    <table>
        <thead>
            <tr>
                <th colspan="2">The table header</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href = "link">FizzBuzz</a></td>
            </tr>
            <tr>
                <td><a href = "link">Pay Calculator</a></td>
            </tr>
            <tr>
                <td>
                    <a class="nav-link text-dark" asp-controller="Interface" asp-action="JavascriptProblems">JS probs</a>
                    >
                </td>
            </tr>
        </tbody>
    </table>

</div>
